<!DOCTYPE html>

<html lang="en-us">
<head>
    <title>新增需求 | 需求管理</title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/forms.css"/>
</head>

<body class=" app-ProjectTracking model-requirement change-form" data-admin-utc-offset="28800">

<!-- Container -->
<div id="container">
    {% include 'ProjectTracking/_header.html' %}

    <div class="breadcrumbs">
        <a href="/">主页</a>
        &rsaquo; <a href="{% url 'ProjectTracking:index' %}">需求管理</a>
        &rsaquo; <a href="{% url 'ProjectTracking:index' %}">需求列表</a>
        &rsaquo; 新增需求
    </div>

    <!-- Content -->
    <div id="content" class="colM">
        <h1>新增需求</h1>
        <div id="content-main">

            <form enctype="multipart/form-data" action="" method="post" id="requirement_form" novalidate>
                {% csrf_token %}
                <div>
                    <fieldset class="module aligned ">
                        <div class="form-row">
                            <label class="required" for="id_username">用户名:</label>
                            <input autofocus="" id="id_username" maxlength="254" name="username" type="text" required/>
                        </div>


                        <div class="form-row field-r_info_name">
                            <div>
                                <label class="required" for="id_r_info_name">需求名称:</label>
                                <input class="vTextField" id="id_r_info_name" maxlength="100" name="r_info_name"
                                       type="text" required/>
                            </div>
                        </div>

                        <div class="form-row field-r_info_submit_department">
                            <div>
                                <label class="required" for="id_r_info_submit_department">提出部门:</label>
                                <select id="id_r_info_submit_department" name="r_info_submit_department" required>
                                    <option value="0" selected="selected">总裁室</option>
                                    <option value="1">综合部</option>
                                    <option value="2">财务部</option>
                                    <option value="3">创新业务部</option>
                                    <option value="4">网络销售部</option>
                                    <option value="5">产险销售部</option>
                                    <option value="6">寿险电销部</option>
                                    <option value="7">数据管理部</option>
                                    <option value="8">信息技术部</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row field-r_info_submit_person">
                            <div>
                                <label class="required" for="id_r_info_submit_person">提出人:</label>
                                <input class="vTextField" id="id_r_info_submit_person" name="r_info_submit_person"
                                       value="{{ current_user.last_name }} {{ current_user.first_name }}" disabled="true" required/>
                            </div>
                        </div>

                        <div class="form-row field-r_info_value">
                            <div>
                                <label class="required" for="id_r_info_value">价值:</label>
                                <input class="vTextField" id="id_r_info_value" maxlength="500" name="r_info_value"
                                       type="text" value="无" required/>
                            </div>
                        </div>
                    </fieldset>

                    <div class="submit-row">
                        <input type="submit" value="Save" class="default" name="_save"/>
{#                        <input type="submit" value="Save and add another" name="_addanother"/>#}
{#                        <input type="submit" value="Save and continue editing" name="_continue"/>#}
                    </div>

{#                    <script type="text/javascript" id="django-admin-form-add-constants" src="/static/admin/js/change_form.js"#}
{#                            data-model-name="requirement">#}
{#                    </script>#}
{#                    <script type="text/javascript" id="django-admin-prepopulated-fields-constants" src="/static/admin/js/prepopulate_init.js"#}
{#                            data-prepopulated-fields="[]">#}
{#                    </script>#}
                </div>
            </form>
        </div>

        <br class="clear"/>
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
