<!DOCTYPE html>

<html lang="en-us">
<head>
    <title>修改需求 | 需求管理</title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/forms.css"/>
</head>

<body class=" app-ProjectTracking model-requirement change-form" data-admin-utc-offset="28800">

<!-- Container -->
<div id="container">
    {% include 'ProjectTracking/_header.html' %}

    <div class="breadcrumbs">
        <a href="/">主页</a>
        &rsaquo; <a href="{% url 'ProjectTracking:index' %}">需求管理</a>
        &rsaquo; <a href="{% url 'ProjectTracking:index' %}">需求列表</a>
        &rsaquo; {{ form.i_name.value }}
    </div>

    <!-- Content -->
    <div id="content" class="colM">
        <h1>修改需求</h1>
        <div id="content-main">

            <ul class="object-tools">
                <li>
                    <a href="#" class="historylink">History</a>
                </li>
            </ul>

            <form enctype="multipart/form-data" action="" method="post" id="requirement_form" novalidate>
                {% csrf_token %}
                <div>
                    <fieldset class="module aligned ">
                        <div class="form-row field-i_submit_department">
                            <div>
                                <label class="required" for="id_i_change_department">修改人:</label>
                                <select id="id_i_change_department" name="i_change_department" disabled="true" required>
                                    <option value="{{ current_user.employee.department }}" selected="selected">{{ current_user.employee.get_department_display }}</option>
                                </select>
                            </div>
                            <div>
                                <label class="required" for="id_i_change_person"></label>
                                <input class="vTextField" id="id_i_change_person" name="i_change_person"
                                       value="{{ current_user.employee.person }}" disabled="true" required/>
                            </div>
                        </div>

                        <h2>需求基本信息</h2>
                        <div class="form-row field-i_name">
                            <div>
                                {{ form.i_name.errors }}
                                <label class="required" for="{{ form.i_name.id_for_label }}">需求名称:</label>
                                {{ form.i_name }}
                            </div>
                        </div>

                        <div class="form-row field-i_submit_department">
                            <div>
                                <label class="required" for="id_i_submit_department">提出人:</label>
                                <select id="id_i_submit_department" name="i_submit_department" disabled="true" required>
                                    <option value="{{ requirement.i_submit_user.employee.department }}" selected="selected">{{ requirement.i_submit_user.employee.get_department_display }}</option>
                                </select>
                            </div>
                            <div>
                                <label class="required" for="id_i_submit_person"></label>
                                <input class="vTextField" id="id_i_submit_person" name="i_submit_person"
                                       value="{{ requirement.i_submit_user.employee.person }}" disabled="true" required/>
                            </div>
                        </div>

                        <div class="form-row field-i_value">
                            <div>
                                {{ form.i_value.errors }}
                                <label class="required" for="{{ form.i_value.id_for_label }}">价值:</label>
                                {{ form.i_value }}
                            </div>
                        </div>

                        <div class="form-row field-i_file">
                            <div>
                                {{ form.i_file.errors }}
                                <label class="required" for="{{ form.i_file.id_for_label }}">需求文档:</label>
                                <p class="file-upload">
                                    当前:
                                    <a href="{{ requirement.i_file.url }}">{{ requirement.i_file.name }}</a>
                                    <br/>
                                    变更: {{ form.i_file }}
                                </p>
                            </div>
                        </div>

                        <h2>需求管理相关信息与状态</h2>
                        <br />

                        <h2>项目管理相关信息与状态</h2>
                    </fieldset>

                    <div class="submit-row">
                        <input type="submit" value="Save" class="default" name="_save"/>
{#                        <p class="deletelink-box">#}
{#                            <a href="/admin/ProjectTracking/requirement/6/delete/" class="deletelink">Delete</a>#}
{#                        </p>#}
{#                        <input type="submit" value="Save and add another" name="_addanother"/>#}
{#                        <input type="submit" value="Save and continue editing" name="_continue"/>#}
                    </div>

                </div>
            </form>
        </div>

        <br class="clear"/>
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
